body {
  background: black;
  color: white;
  font-family: sans-serif;
  margin: 0;
  font-size: 4vw;
  display: grid;
  grid-template-areas:
    "ltrigger lbumper rbumper rtrigger"
    "lstick dpad facebuttons rstick"
    "lstick select start rstick";
  /* The rendered ratio is exactly 100:34 (50:17) with the following dimensions. This seems to give the
  * best balance between the size of the dpad and the size of the sticks, otherwise the buttons need to
  * get huge to compensate.
  */
  grid-template-columns: 27vw 21vw 21vw 27vw;
  column-gap: 1vw;
  grid-template-rows: 5vw 21vw 5vw;
  row-gap: 1vw;
  padding: 0.5vw;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #252525;
}

.input[data-pressed="true"] {
  background: #6E6E6E;
}

#lt {
  grid-area: ltrigger;
}

#rt {
  grid-area: rtrigger;
}

#lb {
  grid-area: lbumper;
}

#rb {
  grid-area: rbumper;
}

.stick {
  border-radius: 50%;
  margin: 10%;
  background: #252525;
  padding: 12%;
}

.stick .cursor {
  background: #6E6E6E;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.stick .cursor[data-pressed="true"] {
  background: white;
}

#lstick {
  grid-area: lstick;
}

#rstick {
  grid-area: rstick;
}

.buttongroup {
  display: grid;
  grid-template-areas:
    ". up ."
    "left centre right"
    ". down .";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.buttongroup .up {
  grid-area: up;
}

.buttongroup .left {
  grid-area: left;
}

.buttongroup .centre {
  grid-area: centre;
}

.buttongroup .right {
  grid-area: right;
}

.buttongroup .down {
  grid-area: down;
}

#dpad {
  grid-area: dpad;
}

#facebuttons {
  grid-area: facebuttons;
  /* Using scale transforms to bring the buttons closer together, makes it look visually pleasing */
  transform: scale(0.95);
}

#facebuttons .input {
  border-radius: 50%;
  transform: scale(1.2);
}

#select {
  grid-area: select;
}

#start {
  grid-area: start;
}
